@mixin theme-valentines {
    * {
        cursor: url(./assets/themes/valentines/cupid-arrow.png), auto !important;
        font-family: "Valentines", "Proxima Nova", "Helvetica Neue", arial, sans-serif;
    }
    .u-col-12 {
        margin-bottom: 40px;
    }
    .o-usersList__user {
        background-color: #f9e3ec;
    }
    .o-userPreview__content {
        padding: 2rem 1rem;
    }
    .o-header,
    .o-navigation {
        background-color: #e63898;
    }
    .a-main {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url(./assets/themes/valentines/background.gif);
        }
    }
    .popping {
        background-image: url(./assets/themes/valentines/cupid.png);
        background-size: 90%;
        background-position: 50% 80px;
    }
    .sliding {
        background-image: url(./assets/themes/valentines/spongebob.webp);
        background-position: top;
        transform: rotateY(180deg);
    }

    .o-userPreview__imageContainer {
        overflow: initial;
        &:hover::after {
            display: block;
        }
    }

    .o-usersList__user:hover {
        .o-userPreview__imageContainer {
            &::after {
                display: block;
            }
        }
    }

    .o-userPreview__imageContainer::after {
        content: "";
        display: none;
        position: absolute;
        width: 140%;
        height: 140%;
        left: -20%;
        top: -42%;
        background-image: url(./assets/themes/valentines/valentines-hat.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        pointer-events: none;
    }
    .dullan .o-userPreview__imageContainer::after {
        width: 60%;
        height: 60%;
        left: 47%;
        top: -11%;
    }
}
html.t-valentines {
    @include theme-valentines;
}
