// Fonts
@import "fonts/_fonts.scss";

// Dullan
.dullan {
    .o-userPreview__image {
        background-image: url(./assets/dullan.jpg);
        filter: grayscale(1);
    }
}

.due-walk {
    position: fixed;
    bottom: -4px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-image: url(./assets/due-walk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: kf_due-walk 15s linear infinite;
}

.more-dullan {
    position: fixed;
    background-image: url(./assets/more-dullan.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 150px;
    transition: all 2s ease-in;
    z-index: 99999;
}

@keyframes kf_due-walk {
    100% {
        left: 100%;
    }
}

// Theme list: [christmas, january, february]
$theme: "easter";

// December (Christmas)
@if ($theme == "christmas") {
    .o-userPreview__imageContainer {
        overflow: initial;
    }

    .o-userPreview__imageContainer::after {
        content: "";
        display: block;
        position: absolute;
        width: 47%;
        height: 68%;
        left: 33.5%;
        top: -32.5%;
        background-image: url(./assets/christmas-hat.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .dullan .o-userPreview__imageContainer::after {
        transform: rotateY(-180deg);
        width: 25%;
        height: 36%;
        top: -4%;
        left: 55%;
    }

    .o-userPreview__title,
    .o-userPreview__name {
        color: #ffffff !important;
    }

    .o-header,
    .o-navigation,
    .a-main {
        background-color: #cf0004;
    }

    .a-main {
        background-image: url(./assets/snowing.webp);
        background-size: 50% auto;
    }
}

// January (Penguin)
@if ($theme == "january") {
    * {
        font-family: "Bloody", "Proxima Nova", "Helvetica Neue", arial, sans-serif !important;
    }
    .o-header,
    .o-navigation {
        background-color: #00535e;
    }
    .a-main {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.4;
            background-color: #c8cee9;
            background-image: url(./assets/rain.webp);
            background-size: 50% auto;
        }
    }
    .more-dullan {
        background-image: url(./assets/more-penguin.webp);
        background-size: 90%;
        background-position: top;
    }
    .due-walk {
        background-image: url(./assets/penguin-walk.gif);
        background-size: 140%;
        background-position: top;
    }

    .o-userPreview__imageContainer {
        overflow: initial;
    }

    .o-userPreview__imageContainer::after {
        content: "";
        display: block;
        position: absolute;
        width: 40%;
        height: 58%;
        left: 29.5%;
        top: -27%;
        background-image: url(./assets/penguin-hat.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .dullan .o-userPreview__imageContainer::after {
        width: 25%;
        height: 34%;
        left: 59%;
        top: -4%;
    }
}

// February (Valentines)
@if ($theme == "february") {
    * {
        cursor: url(./assets/cupid-arrow.png), auto !important;
        font-family: "Valentines", "Proxima Nova", "Helvetica Neue", arial, sans-serif !important;
    }
    .u-col-12 {
        margin-bottom: 40px;
    }
    .o-usersList__user {
        background-color: #f9e3ec;
    }
    .o-userPreview__content {
        padding: 2rem 1rem;
    }
    .o-header,
    .o-navigation {
        background-color: #e63898;
    }
    .a-main {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url(https://i.pinimg.com/originals/fe/83/c9/fe83c9ef4f04297233036cb187c92813.gif);
        }
    }
    .more-dullan {
        background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/13645/cupid-shooting-arrow-clipart-md.png);
        background-size: 90%;
        background-position: top;
    }
    .due-walk {
        background-image: url(https://i.giphy.com/3ohs4CoKEBL9QNUglq.webp);
        background-position: top;
        transform: rotateY(180deg);
    }

    .o-userPreview__imageContainer {
        overflow: initial;
        &:hover::after {
            display: block;
        }
    }

    .o-usersList__user:hover {
        .o-userPreview__imageContainer {
            &::after {
                display: block;
            }
        }
    }

    .o-userPreview__imageContainer::after {
        content: "";
        display: none;
        position: absolute;
        width: 140%;
        height: 140%;
        left: -20%;
        top: -42%;
        background-image: url(./assets/valentines-hat.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        pointer-events: none;
    }
    .dullan .o-userPreview__imageContainer::after {
        width: 60%;
        height: 60%;
        left: 47%;
        top: -11%;
    }
}

// Easter
@if ($theme == "easter") {
    .o-userPreview__imageContainer {
        overflow: initial;
    }

    .u-col-12 {
        margin-bottom: 40px;
    }
    .o-usersList__user {
        background-color: white;
    }
    .o-userPreview__content {
        padding: 2rem 1rem;
    }

    .o-userPreview__imageContainer::after {
        content: "";
        display: block;
        position: absolute;
        width: 42%;
        height: 61%;
        left: 28.5%;
        top: -34.5%;
        background-image: url(./assets/easter-hat.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .dullan .o-userPreview__imageContainer::after {
        width: 25%;
        height: 36%;
        top: -12%;
        left: 60%;
    }

    .o-header,
    .o-navigation,
    .a-main {
        background-color: #9fdfde;
    }
    .a-button:not(.a-button--transparent),
    .a-button--transparent:hover {
        background-color: #ff7877;
    }

    .a-main {
        background-image: url(./assets/easter-pattern.jpeg);
        background-size: 50% auto;
    }
    .more-dullan {
        background-image: url(./assets/easter-egg.png);
        background-size: 90%;
        background-position: top;
        width: 140px;
        height: 100px;
    }
    .due-walk {
        background-image: url(./assets/easter-bunny-jump.gif);
        background-position: top;
    }
}
