@font-face {
    font-family: "Bloody";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/BLOODY.TTF) format("truetype");
}

@font-face {
    font-family: "Valentines";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/valentines.ttf) format("truetype");
}

@font-face {
    font-family: "Star Jedi";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Starjedi.ttf) format("truetype");
}

@font-face {
    font-family: "Distant Galaxy";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/SFDistantGalaxyOutline.ttf) format("truetype");
}

@font-face {
    font-family: "News Gothic";
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/NewsGothicBold.otf) format("opentype");
}

@font-face {
    font-family: "Univers";
    font-weight: 300;
    font-style: normal;
    src: url(./fonts/Univers.otf) format("opentype");
}
