.dullan {
    .o-userPreview__image {
        background-image: url(./assets/dullan.jpg);
        filter: grayscale(1);
    }
}

.due-walk {
    position: fixed;
    bottom: -4px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-image: url(./assets/due-walk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: kf_due-walk 15s linear infinite;
    pointer-events: none;
}

.more-dullan {
    position: fixed;
    background-image: url(./assets/more-dullan.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 150px;
    transition: 2s ease-in;
    transition-property: left, top, right;
    z-index: 20;
    pointer-events: none;
}
