.sliding {
    position: fixed;
    bottom: -4px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-image: url(./assets/sliding.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: kf_sliding 15s linear infinite;
    z-index: 20;
    pointer-events: none;
}

.popping {
    position: fixed;
    background-image: url(./assets/popping.webp);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 200px;
    height: 200px;
    transition: 2s ease-in;
    transition-property: left, top, right;
    z-index: 20;
    pointer-events: none;
    &.top {
        top: -150px;
        transform: rotate(180deg);
    }
    &.left {
        left: -150px;
        transform: rotate(90deg);
    }
    &.right {
        right: -150px;
        transform: rotate(-90deg);
    }
}
