.sliding {
    position: fixed;
    bottom: -4px;
    left: -200px;
    width: 200px;
    height: 200px;
    background-image: url(./assets/due-walk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: kf_sliding 15s linear infinite;
    z-index: 20;
    // pointer-events: none;
}

.popping {
    position: fixed;
    background-image: url(./assets/more-dullan.webp);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 200px;
    height: 200px;
    transition: 2s ease-in;
    transition-property: left, top, right;
    z-index: 20;
    // pointer-events: none;
    &.top {
        top: -200px;
        transform: rotate(180deg);
        &.active {
            top: 0;
        }
    }
    &.left {
        left: -200px;
        transform: rotate(90deg);
        &.active {
            left: 0;
        }
    }
    &.right {
        right: -200px;
        transform: rotate(-90deg);
        &.active {
            right: 0;
        }
    }
}
