@keyframes kf_sliding {
    100% {
        left: 100%;
    }
}

@keyframes squishy_kf {
    0% {
        background-size: 100% 200%;
    }

    100% {
        background-size: 200% 100%;
    }
}
@keyframes swing_bat_kf {
    0% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(220deg);
    }
}
@keyframes bonk_kf {
    0% {
        visibility: hidden;
    }

    80% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes blaster_kf {
    0% {
        width: 0;
        transform: translateX(0%);
    }
    89% {
        width: 0;
    }
    90% {
        width: 40px;
        transform: translateX(0%);
    }
    100% {
        width: 40px;
        transform: translateX(800%);
    }
}

@keyframes crawl_kf {
    0% {
        transform: perspective(400px) rotateX(25deg) translateY(120%);
    }
    100% {
        transform: perspective(400px) rotateX(25deg) translateY(-150%);
    }
}
